@import "./theme.css";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400;1,700&family=Raleway:wght@300;400;500&family=DM+Mono:ital,wght@0,300;0,400;1,300&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    transition: background-color 0.5s ease, color 0.5s ease;    
}
body {
    background-color: var( --background);
    color: var(--foreground);
    
}