.porfolio {

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 5rem 3rem 0 3rem;

    background: var(--background);
}

.porfolio-location {
    color: var(--primary);

    font-size: 0.60rem;
    letter-spacing: .35em;
    text-transform: uppercase;

    margin-bottom: 3rem;
}

.porfolio-title {
    display: flex;
    flex-direction: column;

    font-family: "Playfair Display", serif;
    font-weight: var(--font-weight-bold);

    line-height: .82;

    margin-bottom: 4rem;
}

.porfolio-title span:first-child {
    font-size: clamp(3rem, 12vw, 10rem);
    color: var(--foreground);
}

.porfolio-title .gradient {
    font-size: clamp(3rem, 12vw, 10rem);

    background: linear-gradient(
        90deg,
        #C4B5FD 0%,
        var(--primary) 60%,
        #8B5CF6 100%
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.porfolio-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 15px;

    border-top: 1px solid var(--border);

    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.porfolio-description {
    max-width: 420px;
    width: 100%;
}

.porfolio-description p {
    color: var(--muted-foreground);

    line-height: 1.8;
    font-size: 1rem;

    margin-bottom: 3rem;
}

.porfolio-status {
    display: flex;
    align-items: center;
    gap: .75rem;

    color: var(--muted-foreground);

    font-size: .72rem;
    letter-spacing: .25em;
    text-transform: uppercase;
}

.dot {
    width: 8px;
    height: 8px;

    border-radius: 50%;

    background: #10b956;

    box-shadow: 0 0 12px #10b981;
}

.porfolio-actions {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.porfolio-actions a {
    width: 100%;
    max-width: 300px;
    min-width: 275px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .18em;

    font-size: clamp(.60rem, 2vw, .65rem);

    padding: 1rem 2.5rem;

    transition: .3s;
    font-family:  "Roboto", sans-serif;
}
@media (max-width: 768px) {
    .porfolio-bottom{
        flex-wrap: wrap;
        justify-content: center;
    }

    .porfolio-actions a {
        min-width: 175px;
        height: 60px;
        word-break: break-word;
    }
}

.btn-primary {

    background: var(--primary);
    color: var(--primary-foreground);
}

.btn-primary:hover {
    transform: translateY(-2px);

    filter: brightness(1.1);
}

.btn-secondary {

    color: var(--foreground);

    border: 1px solid var(--border);
}

.btn-secondary:hover {
    background: var(--card);

    border-color: var(--primary);
}